# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# TS
*.tsbuildinfo

# Editor
.vscode/
.idea/
.DS_Store

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Vite cache
.vite/

# Local
.local/
.vercel
